Repository freddysongg/cafeXpress, pull requests merged in 2025-01, with the labels that each got.

#2 Workflows complete
  .github/workflows/code-format-lint.yml
  .github/workflows/generate-docs.yml
  .github/workflows/labeler.yml
  README.md
  backend/package.json
  frontend/package.json
Labels: documentation, backend, frontend

#3 chore: format and lint
  backend/.eslintrc.json
  backend/.prettierignore
  backend/eslint.config.js
  backend/node_modules/.package-lock.json
  backend/package-lock.json
  backend/package.json
  frontend/.prettierignore
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.css
  frontend/src/reportWebVitals.js
Labels: backend, frontend

#4 fix: lint
  frontend/src/App.test.js
  frontend/src/index.js
Labels: frontend

#8 Development
  backend/drizzle/meta/0001_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/config/gemini.ts
  backend/src/config/schemas.ts
  backend/src/routes/index.ts
  backend/src/routes/recommendation.ts
  backend/src/routes/test.ts
  backend/src/server.ts
  backend/src/services/recommendation.ts
  backend/src/services/schemas/recommendation.ts
  backend/src/services/test.ts
  backend/src/types/fastify.d.ts
  backend/tsconfig.json
Labels: backend

#10 Development
  .gitignore
  backend/Dockerfile
  backend/docker-compose.yml
  backend/package-lock.json
  backend/package.json
  backend/src/config/aws.ts
Labels: backend, config

#13 CAXE-11 & CAXE-39
  backend/.eslintrc.json
  backend/docker-compose.yml
  backend/drizzle/0002_loving_young_avengers.sql
  backend/drizzle/meta/0002_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/eslint.config.js
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/config/gemini.ts
  backend/src/config/schemas.ts
  backend/src/routes/index.ts
  backend/src/routes/recommendation.ts
  backend/src/routes/test.ts
  backend/src/schemas/gemini.ts
  backend/src/schemas/rateLimit.ts
  backend/src/schemas/recommendation.ts
  backend/src/schemas/semantic.ts
  backend/src/services/cache.ts
  backend/src/services/recommendation.ts
  backend/src/services/schemas/recommendation.ts
  backend/src/services/semanticAnalysis.ts
  backend/src/services/semanticSearch.ts
  backend/src/services/test.ts
  backend/src/types/fastify.d.ts
  backend/src/utils/validation.ts
Labels: backend

#16 Sazen - Sprint 2
  frontend/. prettierignore
  frontend/. prettierrc
  frontend/.eslintrc.json
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/App.tsx
  frontend/src/components/CafeCard.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/components/SearchBar.tsx
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/main.tsx
  frontend/src/pages/Explore.tsx
  frontend/src/pages/Home.tsx
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
  frontend/src/vite-env.d.ts
  frontend/tailwind.config.js
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: frontend

#20 Alex/caxe 7
  backend/package-lock.json
  backend/package.json
  backend/src/middleware/authentication.ts
  backend/src/routes/authentication.ts
  backend/src/routes/cafe.ts
  backend/src/routes/index.ts
  backend/src/routes/reviews.ts
  backend/src/routes/user.ts
  backend/src/schemas/authentication.ts
  backend/src/schemas/cafe.ts
  backend/src/schemas/preferences.ts
  backend/src/schemas/reviews.ts
  backend/src/schemas/user.ts
  backend/src/services/authentication.ts
  backend/src/services/cafe.ts
  backend/src/services/preferences.ts
  backend/src/services/reviews.ts
  backend/src/services/user.ts
  backend/src/types/fastify.d.ts
  backend/test.json
  backend/tsconfig.json
Labels: backend

#22 Freddy/caxe 15
  backend/drizzle/0001_plain_tempest.sql
  backend/drizzle/meta/0001_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/src/config/keywords.ts
  backend/src/config/redis.ts
  backend/src/config/schemas.ts
  backend/src/routes/recommendation.ts
  backend/src/schemas/cache.ts
  backend/src/schemas/gemini.ts
  backend/src/schemas/rateLimit.ts
  backend/src/schemas/recommendation.ts
  backend/src/services/cache.ts
  backend/src/services/cafe.ts
  backend/src/services/gemini.ts
  backend/src/services/recommendation.ts
  backend/src/services/semanticAnalysis.ts
  backend/src/services/semanticSearch.ts
  backend/src/utils/math.ts
Labels: backend
