Repository freddysongg/cafeXpress, pull requests merged in 2025-03, with the labels that each got.

#37 Alex/caxe 23
  backend/drizzle/0002_friendly_butterfly.sql
  backend/drizzle/meta/0002_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/src/config/schemas.ts
  backend/src/routes/favoriteCafe.ts
  backend/src/routes/generateReview.ts
  backend/src/routes/index.ts
  backend/src/schemas/gemini.ts
  backend/src/services/cafe.ts
  backend/src/services/favoriteCafe.ts
  backend/src/services/generateReview.ts
  backend/src/services/user.ts
  backend/src/services/yelp.ts
  package.json
Labels: backend

#38 Alex/caxe 23
  backend/drizzle/meta/0002_snapshot.json
  backend/src/config/schemas.ts
  backend/src/routes/generateReview.ts
  backend/src/routes/index.ts
  backend/src/services/cafe.ts
  backend/src/services/generateReview.ts
  backend/src/services/user.ts
Labels: backend

#39 Sazen/caxe 18
  frontend/src/components/AuthContext.tsx
  frontend/src/components/CafeCard.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/hooks/useCafe.ts
  frontend/src/pages/Explore.tsx
  frontend/src/pages/Restaurant.tsx
  frontend/src/services/api.ts
Labels: frontend

#44 Updated navbar and review posting
  frontend/src/components/GoogleMapComponent.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/pages/Restaurant.tsx
Labels: frontend

#47 Ryan/caxe 14
  frontend/src/pages/Home.tsx
  frontend/src/pages/Profile.tsx
  frontend/src/pages/SignIn.tsx
  frontend/src/pages/SignUp.tsx
Labels: frontend

#48 Sazen/caxe 26
  backend/src/routes/user.ts
  backend/src/services/profile.ts
  backend/src/services/user.ts
  frontend/src/components/AuthContext.tsx
  frontend/src/pages/Profile.tsx
  frontend/src/pages/Restaurant.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/SignUp.tsx
  frontend/src/services/api.ts
Labels: backend, frontend

#53 Sazen/caxe 26
  frontend/src/pages/Profile.tsx
  frontend/src/pages/Restaurant.tsx
  frontend/src/pages/Settings.tsx
Labels: frontend

#41 Sprint 8
  backend/drizzle/0003_dear_xavin.sql
  backend/drizzle/0003_young_tiger_shark.sql
  backend/drizzle/0004_moaning_rocket_raccoon.sql
  backend/drizzle/0005_chief_stranger.sql
  backend/drizzle/meta/0003_snapshot.json
  backend/drizzle/meta/0004_snapshot.json
  backend/drizzle/meta/0005_snapshot.json
  backend/drizzle/meta/_journal.json
  backend/drizzle/relations.ts
  backend/drizzle/schema.ts
  backend/eslint.config.js
  backend/package.json
  backend/src/config/schemas.ts
  backend/src/routes/authentication.ts
  backend/src/routes/favoriteCafe.ts
  backend/src/routes/gammifation.ts
  backend/src/routes/index.ts
  backend/src/routes/preferences.ts
  backend/src/routes/user.ts
  backend/src/schemas/preferences.ts
  backend/src/services/authentication.ts
  backend/src/services/favoriteCafe.ts
  backend/src/services/gammification.ts
  backend/src/services/preferences.ts
  backend/src/services/profile.ts
  backend/src/services/user.ts
  backend/src/services/yelp.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AuthContext.tsx
  frontend/src/components/GoogleMapComponent.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/pages/Explore.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Profile.tsx
  frontend/src/pages/Restaurant.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/SignIn.tsx
  frontend/src/pages/SignUp.tsx
  frontend/src/services/api.ts
Labels: backend, frontend
